.tours-container{
  padding:30px 100px;
  background:#DA8;
  min-height:100vh;
}

.page-title{
  text-align:center;
  margin-bottom:40px;
  font-size:32px;
  font-weight:600;
  color: white;
}

.tour-card{
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:white;
  padding:40px 50px;
  border-radius:12px;
  margin-bottom:25px;
  box-shadow:0 4px 12px rgba(0,0,0,0.08);
}

.tour-left{
  display:flex;
  flex-direction:column;
  gap:12px;
}

.tour-name{
  margin-top: 0px;
  font-size:30px;
  font-weight:600;
}

.tour-row{
  display:flex;
  align-items:center;
  gap:15px;
  font-size:18px;
  color:#444;
}

.tour-row span{
  display:flex;
  align-items:center;
  gap:8px;
}

.tour-button{
  margin-top:28px;
  width:140px;
  padding:10px;
  border:none;
  border-radius:6px;
  background:#DA8;
  color:white;
  font-size:18px;
  cursor:pointer;
  margin-bottom: 20px;
}

.tour-right{
  margin-left:40px;
}

.tour-image{
  width:300px;
  height:200px;
  object-fit:cover;
  border-radius:10px;
}