body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.home {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* HEADER */
.header1 {
  background: #DA8;
  color: white;
  padding: 5px;
  z-index: 5;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
}
.header1>h1{
  padding-left: 610px;
}
#user{
  cursor: pointer;
  background-color: #DA8;
  border: #DA8;
  color: white;
  font-size: 30px;
  padding-left: 570px;
}

/* CAROUSEL BACKGROUND */
.carousel-bg {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.carousel-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* DARK OVERLAY */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
}

/* GRID SECTION */
.grid-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  z-index: 2;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 220px);
  gap: 30px;
}

/* home-cardS */
.home-card {
  background: rgba(221, 170, 136, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  border: 1px solid #DA8;
  padding: 35px 20px;
  text-align: center;
  color: white;
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
}

.home-card svg {
  font-size: 40px;
  margin-bottom: 15px;
}

.home-card:hover {
  transform: scale(1.07);
  background: rgba(221, 170, 136, 0.6);
}

#profile-block{
    width: 200px;
    height: 150px;
    position: fixed;
    top: 11vh;
    right: 0;
    background-color: #DA8;
    border-radius: 5px;
}
#profile-block>div{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#profile-block>div>p{
    font-size: 20px;
}
#profile-block>div>button{
    width: 50%;
    height: 35px;
    background-color: white;
    color: #DA8;
    border: none;
    font-weight: 500;
    font-size: 16px;
    border-radius: 8px;
}
#profile-block>div>button:hover{
    background-color: transparent;
    border: 1px solid white;
    color: white;
}
#profile-block>p{
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    top: 1vh;
    right: 5px;
}
#profile-block>p:hover{
    cursor: pointer;
}

/* FOOTER */
.footer {
  background: #DA8;
  color: white;
  text-align: center;
  padding: 30px;
}

/* TABLET */
@media (max-width: 992px) {
  .grid {
    grid-template-columns: repeat(3, 180px);
  }
}

/* MOBILE */
@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); /* 🔥 2 buttons per row */
    gap: 15px;
  }

  .home-card {
    padding: 20px 10px;
    font-size: 14px;
  }

  .home-card svg {
    font-size: 28px;
  }
}

/* SMALL MOBILE */
@media (max-width: 300px) {
  .grid {
    grid-template-columns: 1fr; /* fallback for very small screens */
  }
  
}