.tour-container {
  max-width: 1000px;
  margin: auto;
  padding: 0px;
  font-family: Arial, sans-serif;
}

.tour-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

.image-gallery {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.image-gallery img {
  width: 500px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s;
}

.image-gallery img:hover {
  transform: scale(1.05);
}

.description {
  margin-top: 25px;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
}

.audio-section {
  margin-top: 30px;
  text-align: center;
}

audio {
  margin-top: 10px;
  width: 300px;
}